extends layout 

block content
  h1 All Beers 
  if beer_list.length
    ul 
      each beer in beer_list 
        li
          a(href=beer.url) #{beer.name}
          | , #{beer.brewery.name}
  else 
    p There are no beers.