extends layout

block content
  h1 #{crud_op === "create" ? "Create New Brewery" : "Update Brewery: " + brewery._id}

  form(method="POST")
    div.form-group
      label(for="name") Brewery Name
      input(type="text" name="name" required placeholder="Ballast Point Brewery, Lagunitas, etc." value=(brewery === undefined ? "" : brewery.name))
    div.form-group
      label(for="description") Description
      input(type="text" name="description" placeholder="Craft brewery specializing in IPAs" value=(brewery === undefined ? "" : brewery.description))
    div.form-group
      label(for="country") Country
      select#country(name='country' required data-country=(brewery === undefined ? "" : brewery.country))
        option(value='') --Please select a country--
    div.form-group
      label(for="state") State
      select#state(name='state' required data-state=(brewery === undefined ? "" : brewery.state))
        option(value='') --Please select a state--
    div.form-group
      label(for="city") City
      select#city(name='city' required data-city=(brewery === undefined ? "" : brewery.city))
        option(value='') --Please select a city--
    div.form-group
      label(for="latitude_deg") Latitude (in degrees)
      input#latitude_deg(type="text" name="latitude_deg" placeholder="22.995, -18.847, etc." value=(brewery === undefined || brewery.location === undefined ? "" : brewery.location.coordinates[0]))
    div.form-group
      label(for="longitude_deg") Longitude (in degrees)
      input#longitude_deg(type="text" name="longitude_deg" placeholder="40.374, -20.243, etc." value=(brewery === undefined || brewery.location === undefined ? "" : brewery.location.coordinates[1]))
    div.form-group.checkbox-group
      label(for="autofill-checkbox") Autofill Latitude and Longitude (with State Lat-Lon)
      input#autofill-checkbox(type='checkbox')

    div.form-group
      label(for="password") Admin Password
      input(type="password" name="password" required)
    button(type="submit") Submit

  if errors
    h3 Please fix the following errors: 
    ul
      for error in errors 
        li!= error.msg


  script(src="/javascripts/brewery_form.js")
