extends layout 

block content
  h1 #{crud_op === "create" ? "Create New Beer Type" : "Update Beer Type: " + type._id}

  form(method="POST")
    div.form-group
      label(for="name") Beer Type Name 
      input(type="text" name="name" required placeholder="Pale Ale, Belgian Blonde, West Coast IPA, etc.", value=(type === undefined ? "" : type.name))
    button(type="submit") Submit

  if errors
    h3 Please fix the following errors: 
    ul
     for error in errors 
       li!= error.msg