body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.page-content {
  display: flex;
  max-width: 1600px;
}

.sidebar-nav {
  padding: 0 16px;
  list-style: none;
}

.sidebar-nav a {
  text-decoration: none;
}

.dynamic-content {
  flex-grow: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 300px;
  margin-bottom: 10px;
}
